
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Sketch&display=swap');

body {
    background-color: #000000;
}

header {
    color: #000000;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 150px;
    align-content: center;
}

/*barra de navegação*/

.nav-links li {
    display: inline;
    margin-left: 13px;
}

.nav-links li a {
    text-decoration: none;
    color: #c0c0c0;
    font-size: 19px;
}

.nav-links li a:hover {
    color: #ffffff;
    transition: .1s;
}

.nav-links li.selected a {
    color: #ffffff;
}

.planos {
    float: left;
}

.login-cadastre {
    padding-right: 400px;
    display: flex;
    float: right;
}

.fieltorcedor {
    width: 90px;
}

/*corpo*/

.amarelo-p {
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 599;
    font-size: 20px;
}

.amarelo-footer {
    background-color: rgba(255, 224, 124, 0.514);
    margin-left: 350px;
    margin-right: 350px;
    border-color: rgb(255, 196, 0);
    border-radius: 2%;
}

/*fonte*/

.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.londrina-sketch-regular {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    font-size: 70px;
    color: white;
  }


  


  
