
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Sketch&display=swap');

body {
    background-image: url('https://cdn.discordapp.com/attachments/558041829497634837/1296925824938676234/torcida-corinthians-timao-libertadores-20130516-002-original3.png?ex=67140fcc&is=6712be4c&hm=1231d093809fde46c5ab13bb4be53d2a5e59e8142e6e461bbc0325862f3de4a5&');
}

header {
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 150px;
    align-content: center;
}

/*barra de navegação*/

.nav-links li {
    display: inline;
    margin-left: 13px;
}

.nav-links li a {
    text-decoration: none;
    color: #c0c0c0;
    font-size: 19px;
}

.nav-links li a:hover {
    color: #ffffff;
    transition: .1s;
}

.nav-links li.selected a {
    color: #ffffff;
}

.planos {
    float: left;
}

.login-cadastre {
    padding-right: 400px;
    display: flex;
    float: right;
}

.fieltorcedor {
    width: 90px;
}

.barra-nav {
    background-color: #000000;
}

/*corpo*/

.amarelo-p {
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 599;
    font-size: 20px;
}

.amarelo-footer {
    background-color: rgba(255, 224, 124, 0.514);
    margin-left: 350px;
    margin-right: 350px;
    border-color: rgb(255, 196, 0);
    border-radius: 2%;
}

.container-planos {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.janela {
    width: 250px;
    height: 400px;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.janela img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.janela h2 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
}

.janela p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #777;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c2a16f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/*fonte*/

.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.londrina-sketch-regular {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    font-size: 70px;
    color: white;
  }


  


  
